@import url('https://fonts.googleapis.com/css?family=Montserrat');
*,body
{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	
	
}


#background
{
	background: linear-gradient(57deg,#00ff80,#1e4d92); 
	background-repeat: no-repeat;
	height: 100vh;
	overflow: auto;
	clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 45% 100%,0% 100%  ); 

}


/* =========================================navigation bar=================================== */
#nav-bar
{
	height: 60px;
	width: auto;
	background-color: #ffffff;
	
	position: sticky;
	top: 0px;
	/*border: solid;*/
	
	margin: 20px;
	border-radius: 10px;
}

#head-img
{
	
	height: 25px;
	width: 300px;
	margin: 20px 7px;
}
/*#main-header #nav-bar
{
	background-color: green;
}
*/
ul
{
	margin-top: 0px; 
	list-style-type: none;
	/* margin-bottom: 20px; */
		
}


nav
{
	margin: 0px;
	padding: 0px;
}



ul li  {
	display: inline-block; 
	float: right; 
	margin: 20px;
	
}

ul li:hover  {
	border: 2px solid #000000;
}
ul li a{
	color: #00ff80;
	text-decoration: none;
	font-size: 25px;
	
	
} 

#menu-toggle
{
	display: none;
}

#nav-bar .active
{
	background: #e7e2e2;
	color: #000000;
	height: 20px;
	width: 80px;
}
/* =========================================About Us =================================== */

.container
{
	display: flex;
	margin: 30px 25px;
	justify-content: space-between;
}


.container .abt-us h1,
.container .main-image #abt-img
{
	text-align: center;
	justify-content: center;
	margin: 0px 0px 15px 0px;

}

.abt-us
{
	width: 50%;
	margin-right: 20px;
	text-align: justify;
	line-height: 27px;
	word-spacing: 2px;
}	

.main-image
{
	width: 50%;
	margin: 5px 20px;
}

#abt-img
{
	height: 80%;
	width: 75%;
	/* margin-left: 80px; */
	
}	

.imp
{
	color: white;
	font-weight: bold;
	font-size: 18px;
}

 /* ========================================What we do========================================== 	 */
.wwd h2
{
	text-align: center;
	
	
	
}	

.wwd .wwd-main-cont
{
	
	height: 300px;
	width: auto;
	margin: 40px 20px 20px 20px;
	padding: 20px 20px 0px 20px;
	/* background: rgb(207, 207, 207); 
	box-shadow: 10px 10px 10px  #ebebeb; */
}	


.wwd .wwd-main-cont p
{
	justify-content: justify;
}		
.wwd .wwd-cont
{
	display: flex;


}
	
.wwd-cont
{
	display: flex;
	margin-top: 10px;
	justify-content: space-between;

}	


.wwd-cont .wwd-cont1, .wwd-cont .wwd-cont2, .wwd-cont .wwd-cont3, .wwd-cont .wwd-cont4
{
	height: auto;
	width: 200px;
	border-radius: 10px;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: rgb(120, 2, 255); 
	color: white;
	box-shadow: 10px 10px 10px  rgb(192, 151, 240);

}	

#head-wwd-img
{
	height: auto;
	width: 150px;
}


.wwd-cont .wwd-cont1  p, 
.wwd-cont .wwd-cont2 p, 
.wwd-cont .wwd-cont3 p, 
.wwd-cont .wwd-cont4 p
{
	margin-top: 5px;
	flex-wrap: wrap;
}	


.wwd-cont .wwd-cont1  h3, 
.wwd-cont .wwd-cont2 h3, 
.wwd-cont .wwd-cont3 h3, 
.wwd-cont .wwd-cont4 h3
{
	margin-bottom: 5px;
}	

/* =======================================Work In Progress==========================================*/

.main-wrapper .progress-wrapper
{
	height: auto;
	width: auto;
	margin: 0px 50px;
	border-radius: 10px;
	background: #ece6e6;
}


.main-wrapper h2
{
	text-align: center;
}	

.main-wrapper p
{
	text-align: center;
	color: #1e4d92;
}

.main-wrapper .progress-wrapper .progress-head
{
	text-align: center;
	
}	
.main-wrapper .progress-wrapper .progress-bar
{
	height: 25px;
	width: 500px;
	margin: 10px 40px;
	align-items: center;
}
/* =======================================Footer==========================================*/

.foot-main
{
	background: linear-gradient(57deg,#00ff80,#1e4d92); 
	height: 40vh;
	margin-bottom: 0px; 
	background-repeat: no-repeat;
}


.foot-main .heading
{
	text-align: center;
}

.content
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 40vh;
	width: auto;
	margin: 0px 10px 0px 10px
}

.content .sm
{
	
	width: auto;
	margin-left: 50px; 
	flex-wrap: wrap;

}


.content .sm p
{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	
}

.content .sm a
{
	font-size: 20px;
	height: 30px;
	width: 50px;
	background: white;
	border-radius: 50%;
	text-decoration: none;
	color: #000000;
	padding: 10px;
	margin-top: 10px;
	word-wrap: break-word;
}


.content .email-cont-copyright p
{
	justify-content: center;
}


.content .email-cont-copyright .email
{
	word-break: break-all;
}


.content .addr
{
	
	word-wrap: break-word;
	width: auto;
	margin-right: 50px;

}

@media only screen and (max-height: 100px)

{
	/* 
	#background
	{
		height: 80vh;
	}	 */
} 